DISCORD_TOKEN=

PROXY_URL=http://127.0.0.1:10808

# Тот же путь, что Container Registry в GitLab (если не совпадает с default в docker-compose)
# PATCHBOT_IMAGE=192.168.1.108:5051/ism/patchbot:latest

POSTGRES_URL=postgresql://postgres:postgres@localhost:5432/postgres

DB_HOST=postgres
DB_PORT=5432
DB_NAME=postgres
DB_USER=postgres
DB_PASSWORD=postgres

CHECK_INTERVAL_MINUTES=120
